.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex__1 {
  flex: 1;
}
